:root{
    --FuenteHeading : 'PT Sans', sans-serif;
    --Fuenteparrafos : 'Open  Sans', sans-serif;

    --primario: #784d3c;
    --gris:#e2e2e2;
    --blanco: #ffffff;
    --negro: #000000;


}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*,*::before, *:after{
    box-sizing: inherit;
}

body{
    display: block;
    margin: 0%;
    font-family: var(--Fuenteparrafos);
    font-size: 1.6rem;
    line-height: 5.2rem
    ;
}


/** Globales **/

.contenedor{
    align-items: center;
    max-width: 190rem;
    width: 65%;
    margin: 0 auto;
    padding-top: 30px;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--FuenteHeading);
    line-height:4rem ;
}
h1{
    font-size: 4rem;
}

h2 { font-size: 3rem;
}

h3 {
    font-size: 2.8rem;
}

h4{font-size: 1.8rem;
}
p{
    line-height: 3rem;
}
img {
    max-width: 100%;

}

/**UTLIDADES**/

.no-margin{
    margin:0;

}
.no-pading{
    padding: 0px;
}

.centrar-texto{
    text-align: center; 
}

/** Header **/

.header{
    background-image: url(../IMG/banner.webp);
    height: 60rem;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0%;
 
}
.header_texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 4rem;
}
@media (min-width:768px) {
    .header_texto{
        margin-top: 10rem;
    }
    
}

.barra{
    padding-top: 3rem;
}
@media (min-width:768px){
    .barra{
        display: flex;
        justify-content:space-between ;
        align-items: center;
        column-gap: 2rem; 
    }
}



.logo{

    color: var(--blanco); 
}
    .logo_nombre{
        font-weight: 400;
    }
    .logo_bold{
        font-weight: 700;
    }



.navegacion{
    display:block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    gap: 10rem;

}
@media (min-width:768px) {
    .navegacion {
        display:flex;
        gap: 1.5rem;
    }
      }

      @media(min-width:768px)
      {
          .contenido-principal{
              display: grid;
              grid-template-columns: 2fr 1fr;
              column-gap: 4rem;
          }
      }

      .entrada{
          border-bottom: 1px solid var(--gris);
          margin-bottom: 2rem;
      }
      .entrada:last-of-type{
          border: none;
          margin-bottom: 0%;
      }

      .boton{
          display: block;
          font-family: var(--FuenteHeading);
          color: var(--blanco);
          text-align: center;
          padding: 0.5rem 2rem;
          font-size: 1.5rem;
          text-transform:uppercase;
          font-weight: 700;
          margin-bottom: 1rem;
          border-radius: 4px;
          border: none;
      }
      .boton-primario{
          background-color: #000000;
      }

      @media(min-width:768px){
          .boton{
              display: inline-block;
          }

      }

      .boton{
          cursor: pointer;
      }

      .sidebar{
         height: 100%;

      }
      .boton-primario{ background-color: var(--negro);
          
    }
      .boton-secundario{background-color: var(--primario);

      }
      .Cursos{
          list-style: none;
      }
      .widget-curso{

        border-bottom: solid var(--gris);
        margin-bottom: 2rem;
      }

      .widget-curso:last-of-type{
          border: none;
          margin-bottom: none;
      }
      .widget-curso_label{
          font-family: var(--FuenteHeading);
          font-weight: bold;

      }
      .widget-curso_info{
          font-weight: normal;

      }
      .widget-curso_info,.widget-curso_label{
          font-size: 1.5rem;
      }

      .footer{
          background-color: var(--negro);
          padding-bottom:3rem ;
          margin-top: 4rem;
      }



      /**Sobre nosotros**/


      @media (min-width:768px) {
          
        
        .sobre-nosotros {
            display: grid;
            grid-template-columns: repeat(2,1fr);
             gap: 2rem;

        }

      }


      /**CURSOS**/

      .curso{
          padding: 3rem 0;
          border-bottom: solid var(--gris);
      }

   @media (min-width:768px) {
   .curso{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
}
    
.curso_label{
    font-family: var(--FuenteHeading);
    font-weight: bold;

}
.curso_info{
    font-weight: normal;

}
.curso_info,.widget-curso_label{
    font-size: 1.5rem;
}
}




      .curso:last-of-type{
     border:none     }


     /**contacto**/

     .contacto-bg{

        background-image: url(../IMG/contacto.jpg);
        height: 40rem;
        background-size: cover;
        background-repeat: no-repeat;
     
     }



     .formulario{
       
         background-color: var(--blanco);
        margin: -5rem auto 0 auto;

        width: 95%;
        padding: 2rem;
        box-shadow:inset 0px 0px 4px 0 rgba(15,15,10,02);
        
        
     }

     .campo{
         
        display: flex;
        margin-bottom: 2rem;
        gap: 1.5rem
        ;
     }
    
     .campo_label{
        flex: 0 0 7rem;
        text-align: right;
       
        

     }

     .campo_field{
         
        flex: 1;
        


     }

     .campo_field_textarea{ 
         height: 20rem;

     }